<section id="Proyectos" class="m-5 mt-4">
    <div class="container-flex" style="padding: 3% 5% 3% 5%">
        <div class="row">
            <h2 class="titulo">Proyectos</h2>
            <div class="col-md-12 col-lg-6">
                <div class="btn-edit">
                    <img src="assets/img/proyecto_inmobiliaria.png" class="img-thumbnail" alt="Sistema Inmobiliaria">
                    <a href="#" class="btn-right"><i class="fa fa-pencil"></i></a>
                    <h5>Sistema de Gestión de Inmobiliarias</h5>
                    <p>Proyecto final para recibirme de técnico, hecho en C#.</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="btn-edit">
                    <img src="assets/img/proyecto_typer.png" class="img-thumbnail" alt="Juego Typer">
                    <a href="#" class="btn-right"><i class="fa fa-pencil"></i></a>
                    <h5>Typer, juego de Mecanografía</h5>
                    <p>Evaluacion final para aprobar 4to año de informatica, hecho en Pascal.</p>
                </div>
            </div>
        </div>
    </div>
</section>