<section id="Proyectos" class="m-5 mt-4">
    <div class="container-flex p-3">
        <div class="row p-0">
            <h2 class="titulo">Proyectos</h2>
            <div class="col-md-12 col-lg-6" *ngFor="let proyecto of proyectosList">
                <div class="btn-edit">
                    <img [src]="proyecto.picture" class="img-thumbnail" [alt]="proyecto.name">
                    <a href="#" class="btn-right"><i class="fa fa-pencil"></i></a>
                    <h5>{{proyecto.name}}</h5>
                    <p>{{proyecto.description}}</p>
                </div>
            </div>
        </div>
    </div>
</section>