<section id="Skills" class="m-5 mt-4">
    <div class="container-flex p-3">
        <div class="row justify-content-center">
            <h2 class="titulo">Hard Skills | Soft Skills</h2>
            <div class="col-md-12 col-lg-6 pt-3" *ngFor="let skill of skillsList">
                <div class="btn-edit">
                    <h4>{{skill.name}}</h4>
                    <div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar" [style.width.%]="skill.percentage"></div>
                    </div>
                    <a href="#" class="btn-right"><i class="fa fa-pencil"></i></a>
                    <br>
                </div>
            </div>
        </div>
    </div>
</section>