<section id="Perfil" class="m-5 mt-4">
    <div class="card">
        <div id="profile-background">
            <img class="img-fluid" [src]="profile.background" alt="(profile-background)">
        </div>
        <div id="info" class="pb-3">
            <div id="info-picture">
                <img class="img-fluid" id="imgpfp" [src]="profile.info_picture" alt="(info-picture)">
            </div>
            <div id="info-data">
                <div>
                    <h1>{{profile.info_name}}</h1>
                    <b>{{profile.info_situation}}</b>
                    <p>{{profile.info_location}}</p>
                    <a href="https://www.linkedin.com/in/tomas-rueda-9bbb68223/" target="_blank">
                        <i class="fa-brands fa-linkedin fa-2xl" style="color: #ffffff;"></i>
                    </a>
                    <a href="https://github.com/Turp2703" target="_blank">
                        <i class="fa-brands fa-github fa-2xl" style="color: #ffffff;"></i>
                    </a>
                </div>
                <div id="info-links">
                    <a href="https://www.uns.edu.ar" target="_blank"><img class="img-fluid" [src]="profile.logo_uns"></a>
                </div>
            </div>
        </div>
    </div>
</section>