<section id="Perfil" class="m-5 mt-4">
    <div class="card">
        <div id="profile-background">
            <img class="img-fluid" [src]="profile_background" alt="(profile-background)">
        </div>
        <div id="info" class="pb-3">
            <div id="info-picture">
                <img class="img-fluid" [src]="profile_info_picture" alt="(info-picture)">
            </div>
            <div id="info-data">
                <div>
                    <h1>{{profile_info_name}}</h1>
                    <b>{{profile_info_situation}}</b>
                    <p>{{profile_info_location}}</p>
                </div>
                <div id="info-links">
                    <a href="https://www.uns.edu.ar" target="_blank"><img class="img-fluid" [src]="profile_logo_uns"></a>
                </div>
            </div>
        </div>
    </div>
</section>