/* You can add global styles to this file, and also import other style files */
body{
    box-sizing: border-box;
    background-image: url("./assets/img/body-background.jpg");
    /* background-image: url("https://i.postimg.cc/vBX3bv6g/body-background.jpg"); */
    background-size: contain;
    background-blend-mode: luminosity;
    /* color: white; */
}

section,.header,.footer,.form{
    border: solid yellow 2px;
}

div{
    background-color: rgb(37, 0, 48);
    color: white;
}