<section id="Educacion" class="m-5 mt-4">
    <div class="container-flex p-3">
        <div class="row justify-content-center">
            <h2 class="titulo">Educación</h2>
            <div class="col-md-12 col-lg-6 text-center" *ngFor="let educacion of educacionList">
                <img [src]="educacion.picture" class="img-thumbnail" [alt]="educacion.title">
                <h5>{{educacion.title}}</h5>
                <p>{{educacion.origin}}</p>
            </div>
        </div>
    </div>
</section>