<section id="Educacion" class="m-5 mt-4">
    <div class="container-flex p-3">
        <div class="row">
            <h2 class="titulo">Educación</h2>
            <div class="col-md-12 col-lg-6">
                <div class="btn-edit">
                    <img src="../../../assets/img/edu_titulo_informatica.png" class="img-thumbnail" alt="Foto Título Informatica">
                    <a href="#" class="btn-right"><i class="fa fa-pencil"></i></a>
                    <h5>Título: Técnico en Informática Personal y Profesional</h5>
                    <p>Escuela de Educación Secundaria Técnica N°2</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="btn-edit">
                    <img src="../../../assets/img/edu_certificado_seprogramar.png" class="img-thumbnail" alt="Certificado SeProgramar">
                    <a href="#" class="btn-right"><i class="fa fa-pencil"></i></a>
                    <h5>Certificado: SeProgramar</h5>
                    <p>1ra etapa de Argentina Programa.</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="btn-edit">
                    <img src="../../../assets/img/edu_certificado_sololearn_cpp.png" class="img-thumbnail" alt="Certificado SoloLearn CPP">
                    <a href="#" class="btn-right"><i class="fa fa-pencil"></i></a>
                    <h5>Certificado: C++ SoloLearn</h5>
                    <p>Plataforma SoloLearn conocimientos teoricos y practicos.</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="btn-edit">
                    <img src="../../../assets/img/edu_certificado_sololearn_cs.png" class="img-thumbnail" alt="Certificado SoloLearn CS">
                    <a href="#" class="btn-right"><i class="fa fa-pencil"></i></a>
                    <h5>Certificado: C# SoloLearn</h5>
                    <p>Plataforma SoloLearn conocimientos teoricos y practicos.</p>
                </div>
            </div>
        </div>
    </div>
</section>