<section id="Educacion" class="m-5 mt-4">
    <div class="container-flex p-3">
        <div class="row justify-content-center">
            <div>
                <h2 class="titulo">Educación
                    <a class="btn btn-primary mx-1 text-white end" role="button" data-bs-toggle="modal" data-bs-target="#modalPostEdu" *ngIf="isAdmin">
                        AÑADIR
                    </a>
                </h2>
            </div>
            <div class="col-md-12 col-lg-6 mt-3 text-center" *ngFor="let educacion of educacionList">
                <img [src]="educacion.picture" class="img-thumbnail" [alt]="educacion.title">
                <h5>{{educacion.title}}</h5>
                <p>{{educacion.origin}}</p>
                <a class="btn btn-info mx-1 text-white" role="button" data-bs-toggle="modal" data-bs-target="#modalPutEdu" (click)="putIndex(educacion.id)" *ngIf="isAdmin">
                    EDITAR
                </a>
                <a class="btn btn-danger mx-1 text-white" role="button" (click)="onDelete(educacion.id)" *ngIf="isAdmin">
                    BORRAR
                </a>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="modalPostEdu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Nueva Educacion</h5>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
              <div class="form-group">
                <label for="eduPicture" class="col-form-label">Imagen (link):</label>
                <input type="text" class="form-control" id="eduPicture" name="eduPicture" [(ngModel)]="eduPost.picture" required>
              </div>
              <div class="form-group">
                <label for="eduTitle" class="col-form-label">Titulo:</label>
                <input type="text" class="form-control" id="eduTitle" name="eduTitle" [(ngModel)]="eduPost.title" required>
              </div>
              <div class="form-group">
                <label for="eduOrigin" class="col-form-label">Origen:</label>
                <input type="text" class="form-control" id="eduOrigin" name="eduOrigin" [(ngModel)]="eduPost.origin" required>
              </div>
              <div class="text-end mt-3">
                <button type="button" class="btn btn-secondary mx-1" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary mx-1">Añadir Educacion</button>
              </div>
            </form>
          </div>
        </div>
    </div>
  </div>

  <div class="modal fade" id="modalPutEdu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Editar Educacion</h5>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
              <div class="form-group">
                <label for="eduPicture" class="col-form-label">Imagen (link):</label>
                <input type="text" class="form-control" id="eduPicture" name="eduPicture" [(ngModel)]="eduPut.picture" required>
              </div>
              <div class="form-group">
                <label for="eduTitle" class="col-form-label">Titulo:</label>
                <input type="text" class="form-control" id="eduTitle" name="eduTitle" [(ngModel)]="eduPut.title" required>
              </div>
              <div class="form-group">
                <label for="eduOrigin" class="col-form-label">Origen:</label>
                <input type="text" class="form-control" id="eduOrigin" name="eduOrigin" [(ngModel)]="eduPut.origin" required>
              </div>
              <div class="text-end mt-3">
                <button type="button" class="btn btn-secondary mx-1" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary mx-1">Confirmar Cambios</button>
              </div>
            </form>
          </div>
        </div>
    </div>
  </div>